<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 post-content">
      <div class="privacy flex flex-col items-center">
        <div class="p-8 md:w-4/5">
        <h1 class="text-2xl font-bold md:text-center py-8"> アアイエバ For You お問い合わせ</h1>
        <p>以下のお問い合わせフォームからご連絡ください。</p>
        <p class="py-2"><%= link_to 'お問い合わせフォーム', 'https://docs.google.com/forms/d/e/1FAIpQLSf9OLN8e2I3T58kK4iPVXPN84JQ4Ubxm-hsZCNrd3RvrY0Iaw/viewform?usp=sf_link' , class: "link"%></p>
      </div>
    </div>
  </div>
</div>