<div class="dropdown-item border-bottom post-content">
  <h4>通知</h4>
  <% if @notifications.present? %>
    <% @notifications.each do |notification| %>
      <%= render "#{notification.action_type}", notification: notification %>
    <% end %>
  <% else %>
    通知はありません
  <% end %>
</div>