<header>
  <div class="navbar navbar-expand-lg navigation navbar-light header-content">
    <a class='navbar-brand' href='/'>
      <%= image_tag 'header-logo.png', size: '70x70', class: "ms-5" %>
    </a>
    <nav class="my-2 my-md-0 ms-auto">
      <%= link_to (t 'defaults.login'), login_path, class: "p-2 link" %>
      <%= link_to 'ゲストログイン', '/guest_login', data: { "turbo-method": :post }, class: "p-2 link" %>
    </nav>
  </div>
</header>