<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-5 px-2 border-top footer-content">
  <p class="col-md-4 mb-0 text-body-secondary">Copyright © 2023. アアイエバ For You</p>

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary link">利用規約</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary link">プライバシーポリシー</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary link">ヘルプ</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary link">フィードバック</a></li>
  </ul>
</footer>