<ul class='crud-menu-btn list-inline float-right'>
  <li class="list-inline-item">
    <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
      <i class="fa-regular fa-pen-to-square fa-lg" style="color: #446878;"></i>
    <% end %>
  </li>
  <li class="list-inline-item">
    <%= link_to post_path(post), data: { "turbo-method": :delete, turbo_confirm: t('defaults.message.delete_confirm') }, id: "button-delete-#{post.id}" do %>
      <i class="fa-solid fa-trash-can fa-lg" style="color: #446878;"></i>
    <% end %>
  </li>
</ul>