@import "bootstrap";
@import "font-awesome";

.link {
  text-decoration: none;
  color: #446878 ; 
}

select {
  color:#446878;
  border: 0.5px solid #446878;
}

input {
  background-color: #fef4e8;
  border: 0.5px solid #446878;
}

::placeholder {
  color: #446878;
}

ul{
  padding-left:0;
}

li{
  list-style:none;
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #446878;   /*文字の色を変える*/
}

.pagination>.active>a {     
  background: #446878;     /*背景の色を変える*/
}

.pagination {
  justify-content: center;
}

.page-content {
  background-color: #fef4e8;
  height: calc(100vh - 134px);
  position: relative;
}

.top-word {
  font-family: 'Zen Kurenaido', sans-serif;
  color: #446878;
}

.header-content {
  background-color: #AAB3A2;
  font-family: 'Zen Kurenaido', sans-serif;
  color: #446878;
}

.post-content{
  background-color: #D9D0C5;
  font-family: 'Zen Kurenaido', sans-serif;
  color: #446878;
}

.search-content{
  font-family: 'Zen Kurenaido', sans-serif;
  color: #446878;
}

.episode-content{
  background-color: #FFF;
  border: solid 3px #446878;
  min-height: 150px
}

.nav-tabs .nav-link.active{
  background-color: #D9D0C5;
}

/*_post.html.erb画面の吹き出し*/
.balloon-post {
  position: relative;
  margin: 1.5em 1.0em 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  min-height: 100px;
  color: #446878;
  font-size: 30px;
  background: #FFF;
  border: solid 3px #446878;
  box-sizing: border-box;
  border-radius: 15px;
}

.balloon-post:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.balloon-post:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.balloon-post p {
  margin: 0;
  padding: 0;
}

/*post/show.html.erb画面の吹き出し*/
/*相手からの言葉吹き出し*/
.balloon-show-left {
  position: relative;
  margin: 1.5em 1.0em 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  min-height: 200px;
  color: #446878;
  font-size: 30px;
  background: #FFF;
  border: solid 3px #446878;
  box-sizing: border-box;
  border-radius: 15px;
}

.balloon-show-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.balloon-show-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #446878;
  z-index: 1;
}

.balloon-show-left p {
  margin: 0;
  padding: 0;
}

/*言えなかった言葉吹き出し*/
.balloon-show-right {
  position: relative;
  margin: 1.5em 1.0em 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  min-height: 200px;
  color: #446878;
  font-size: 30px;
  background: #FFF;
  border: solid 3px #446878;
  box-sizing: border-box;
  border-radius: 15px;
}

.balloon-show-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.balloon-show-right:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #446878;
  z-index: 1;
}

.balloon-show-right p {
  margin: 0;
  padding: 0;
}